body{
  font-family: Georgia, 'Times New Roman', Times, serif, ;
}
section{
  background-color: black;
  display:flex;
  width: 1000px;
  height: 500px;
  padding-left:20px;
  border-radius: 30px;
}
.blog{
  width: 600px;
  height: 500p;
}
h1{
  font-size: 40px;
  color:white;
}
p{
  font-size: 25px;
  color:antiquewhite;
}
a{
  background-color: crimson;
  width: 500px;
  color: azure;
}
